<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture</title>
    <link rel="stylesheet" href= <%= stylePath %> />
</head>
<body>
    <div>
        <div class="container">
            <div class="app-section">
                <img src=<%= logoPath %> alt="Logo">
                <span class="princo-app"> Princo app.</span>
                <span>58 rue Ernest Renan, Chelles, ile-de-France</span>
                <span>(+33)7 35 55 31 15</span>
                <span>support@princo.com<span>
            </div>
          <div class="invoice-section">
          <span class="facture-title" >Facture</span>
          <span >Réf: <span class="ref">#<%= ref %></span></span>
          <span >Date d'émission: <%= paymentDate %></span>
          </div>
        </div>
       <div>
         <div class="client-section">
            <div class="facture-a">Facture à:</div>
            <div class="invoiceSection">
                    <div class="customer-info"><%= user.firstName %> <%= user.lastName %> </div>
                <div class="place-address">
                <span><%= (user.invoiceDetails && user.invoiceDetails.adress) || '' %>,</span><br/>
                <span><%= (user.invoiceDetails && user.invoiceDetails.city) || '' %>, <%= (user.invoiceDetails  && user.invoiceDetails.country ) || '' %></span>
                <span><%= (user.email && user.email )%> </span>
                </div>

            </div>
        </div>
       </div>
        <div class="echeance">
            <%= amount %> € Impressions
        </div>
        <table class="table1" >
            <thead>
                <tr>
                <th class="designation">Designation</th>
                <th class="qte">Qté</th>
                <th class="pu">P.U.</th>
                <th class="remise">Remise</th>
                <th class="prix">Prix</th>
                <th class="tva">TVA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="amounts">
                        <%= offer.title %>
                    </td>
                    <td class="amounts">1</td>
                    <td class="amounts"><%= offer.unitPrice %>€</td>
                    <td class="amounts"><%= offer.discount %>%</td>
                    <td class="amounts"><%= offerPriceHT %>€</td>
                    <td class="amounts"><%= offer.tva %>%</td>
                </tr>
            </tbody>
        </table>
        <table class="table2">
            <tr>
                <td class="title-ht">Total HT</td>
                <td class="total-ht"><%= offer.unitPrice %>€</td>
            </tr>
            <tr>
                <td class="title-tva">Total TVA</td>
                <td class="total-tva"><%= amountTVA%>€</td>
            </tr>
            <tr>
                <td class="title-ttc">Total TTC</td>
                <td class="total-ttc"><%= amountTTC %>€</td>
            </tr>
        </table>
        <div>
            <div class="container-montant">
                <div class="montant-a-payer">Montant à payer</div>
                <div class="total-amount"><%= amount %>€</div>
            </div>
        </div>
</body>
</html>
